[Feature] Add Support for Path Info PHP URLs

## About
After #125 with cross-platform PHP support, the main thing lacking from core support is that the PATH_INFO and PATH_TRANSLATED environment variables are non-functional since virtual PHP URLs are not supported (ex. /index.php/foo/bar).

Refer to [RFC 3875§4.1.5](https://datatracker.ietf.org/doc/html/rfc3875#section-4.1.5) and [RFC 3875§4.1.6](https://datatracker.ietf.org/doc/html/rfc3875#section-4.1.6) for more information about the aforementioned environment variables.